h1 {
    color: red;
    font-size: 200px;
}

img {
  background-color: red;
}

.circular {
border-radius: 100%; 
}

.turkey {
  height: 120px;
  background-color: green;
}

.egg {
  background-color: red;
}

#heading {
  color: blue;
}
